<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: header">
    <meta charset="UTF-8"/>
    <title>Viewing All Garments</title>
</head>
<body>
<nav th:replace="partials :: nav"></nav>
<div id="garments">
    <div class="card mx-auto my-5 w-25 p-3" th:each="garment:${garments}">
        <a th:href="@{/closet/{id}(id=${garment.id})}">
            <img class="card-img-top" th:src="@{${garment.image}}"/>
            <div class="mr-1 mb-1">
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                        data-target="#deleteModal">Delete
                </button>
                <!--START OF MODAL-->
                <div class="modal fade-bd-delete-sm" id="deleteModal" tabindex="-1" role="dialog"
                     aria-labelledby="DeleteModalLabel"
                     aria-hidden="true">
                    <div class="modal=dialog" role="document">
                        <div class="modal-content bg-main">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DeleteModalLabel"><span>Are you sure you want to delete this item?</span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/user/garment/delete/{id}(id=${garment.id})}" method="POST"
                                      th:object="${garment}">
                                    <button type="submit" class="btn btn-danger mr-auto">Yes</button>
                                    <button class="btn btn-warning mr-auto" data-dismiss="modal"
                                            data-target="#deleteModal">
                                        No
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </a>
        <div class="card-body">
            <span th:each="cat:${garment.categories}"><button type="button" class="btn btn-accent catBtn ml-2"
                                                              th:text="${cat.name}"></button></span>
        </div>
    </div>
</div>

</body>
</html>