<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: header">
    <meta charset="UTF-8"/>
    <title>Viewing Garments</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, User!</h1>
    </div>
</div>
<div class="container-fluid bg-light h-100">
    <input type="search" class="form-control w-100" placeholder="Search..."/>
    <div class="row" style="height: 66vh;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Closet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Outfits</a>
            </li>
        </ul>
    </div>
</div>
<button type="button" class="btn btn-dark w-100">Register for Free</button>

<div th:replace="fragments/partials :: footer"/>
</body>
</html>