<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/partials :: header">
    <meta charset="UTF-8"/>
    <title>Upload Garment</title>
</head>
<body class="container bg-purple-gradient silver">
<nav th:replace="fragments/partials :: nav"></nav>
<div class="card bg-transparent mx-auto">
    <div class="card col-8 bg-transparent mx-auto float-left border p-3">
        <div class="display-4 mb-5">Upload and tag your image</div>
        <form th:action="@{/upload}" th:method="POST" th:object="${garment}">
            <div>
               <span th:each="cat:${cats}">
                   <input type="checkbox" class="mx-3" name="categories" th:value="${cat.id}"/><span
                       th:text="${cat.name}"></span></span>
            </div>
            <div class=" mt-4 float-right">
                <input type="hidden" class="catNames" role="uploadcare-uploader" name="content"
                       data-public-key="f4d049bd4151e8ea72ed"
                       data-images-only="true" th:field="*{image}"/>
                <button type="submit" value="Save" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="fragments/partials :: footer"></footer>
</body>
</html>