<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/partials :: header">
    <meta charset="UTF-8"/>
    <title>Upload Garment</title>
</head>
<body class="container bg-purple-gradient silver">
<nav th:replace="fragments/partials :: nav"></nav>
<div class="card bg-transparent mx-auto">
    <div class="card col-8 bg-transparent mx-auto float-left border p-3">
        <div class="display-4 mb-5">Upload and tag your image</div>
        <form th:action="@{/upload}" th:method="POST" th:object="${garment}">
            <small>Garments MUST have a category to be saved!</small>
            <div>
               <span th:each="cat:${cats}">
                   <input type="checkbox" class="mx-3" name="categories" th:value="${cat.id}"/>
                   <span th:text="${cat.name}"></span></span>
            </div>
            <div class=" mt-4 float-right">
                <input type="hidden" class="catNames" role="uploadcare-uploader" name="content"
                       data-public-key="f4d049bd4151e8ea72ed"
                       data-images-only="true" th:field="*{image}"/>
                <button type="submit" value="Save" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>

</div>
<footer th:replace="fragments/partials :: footer"></footer>

<!--<script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>-->
<script>


    window.addEventListener('DOMContentLoaded', function () {
        const apikey = 'AtXT24mWXSGUvgcRzV7JQz';
        const client = filestack.init(apikey);

        let link;
        const options = {
            maxFiles: 1,
            uploadInBackground: false,
            onOpen: () => console.log('opened!'),
            onUploadDone: (res) => {
                console.log(res.filesUploaded[0].url)
                // $("#pic1").attr("src", res.filesUploaded[0].url);
            },

        };
        $();

        $('#open').click(() => {
            return client.picker(options).open();
        });

        $(".catBtn").click(function () {
            this.toggleClass("btn-secondary");
            this.toggleClass("btn-success");
        })


        $("#")


    });
</script>


</body>
</html>