<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="https://img.icons8.com/ultraviolet/100/000000/hanger.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <title>Home</title>
</head>
<body>
<nav class="nav border border-top-0 mb-4 p-3" th:fragment="nav">
    <ul class="nav">
        <li sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-3 mr-2">
            <th:block th:text="${'Welcome, ' + #authentication.principal.username}"/>
        </li>
        <li class="nav-item navy border rounded p-1 mr-2">
            <a class="nav-link active navy" href="/">Home</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-1 mr-2">
            <a class="nav-link navy" href="/upload">Upload</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item navy border rounded p-1 mr-2">
            <a class="nav-link navy" href="/login">Login</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-1 mr-2">
            <a class="nav-link navy" href="/user">My Closet</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-1 mr-2">
            <a class="nav-link navy" href="/closet/index">Explore Styles</a>
        </li>
        <!--<li sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-1 mr-2">-->
            <!--<a class="nav-link navy" href="/outfits">Outfits</a>-->
        <!--</li>-->
        <li sec:authorize="!isAuthenticated()" class="nav-item navy border rounded p-1 mr-2">
            <a class="nav-link navy" href="/register">Register</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-2 mr-2">
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn navy my-auto" style="margin-top: 8px">Logout</button>
            </form>
        </li>
        <li>
            <!--<form class="form-inline">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        </li>
    </ul>

</nav>
<div th:fragment="logout">
    <div sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-2 mr-2">
        <form th:action="@{/logout}" th:method="post">
            <button class="btn-link btn navy my-auto" style="margin-top: 8px">Logout</button>
        </form>
    </div>
</div>

<footer th:fragment="footer">

    <!--BOOTSTRAP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </footer>
</body>
</html>