<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="https://img.icons8.com/ultraviolet/100/000000/hanger.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/checkbox.scss"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>

    <link rel="stylesheet" type="text/css" href="/css/colors.css"/>
    <style>
        nav {
            font-weight: bold;
        }

        .nav-link {
            color: #1d2124;
        }

        nav-link .active {
            color: #D1B700;
        }
    </style>
    <script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.6.1/uploadcare.full.min.js"></script>
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
    <title>Closetry Corner</title>
</head>
<body>
<!-- Main Navbar-->
<nav class="navbar navbar-expand-lg fixed-top p-0" th:fragment="nav">
    <div class="container" id="top">
        <!-- Navbar Brand -->
        <div class="navbar-header d-flex align-items-center justify-content-between">
            <!-- Navbar Brand -->
            <a href="/" class="navbar-brand d-none d-lg-block"><img class="logo  rounded-circle" src="/img/nav-logo.png"/></a>
            <!-- Toggle Button-->
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" class="navbar-toggler">
                <span class="navbar-toggler-icon">&#9776;</span></button>
        </div>
        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse p-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item navy border p-1 mr-2 d-sm-block d-md-none">
                <a class="nav-link" href="/">Closetry Corner</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item border p-1 mr-2">
                    <a class="nav-link" href="/user">My Closet</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item border p-1 mr-2">
                    <a class="nav-link" href="/upload">Add a Garment</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item navy border p-1 mr-2">
                    <a class="nav-link" href="/outfits/create">Create an Outfit</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item navy border p-1 mr-2">
                    <a class="nav-link" href="/user/edit">Edit Profile</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item border p-1 mr-2">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item navy border p-1 mr-2">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item navy border p-1 mr-2">
                    <a class="nav-link" href="/devs">About Us</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item border p-1 mr-2">
                    <form id="logout2" th:action="@{/logout}" th:method="post">
                        <a class="nav-link" href="javascript:{}" onclick="document.getElementById('logout2').submit();">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:fragment="logout">
    <div sec:authorize="isAuthenticated()" class="nav-item navy border rounded p-2 mr-2">
        <form id="logout" th:action="@{/logout}" th:method="post">
            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('logout').submit();">Logout</a>
            <!--<button class="btn my-auto bg-transparent" style="margin-top: 8px">Logout</button>-->
        </form>
    </div>
</div>
<!--<bottom th:fragment="bottom">-->
        <!--<p>copyright</p>-->
<!--</bottom>-->
<footer th:fragment="footer">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</footer>
<script th:fragment="validation">
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
</body>
</html>