<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/partials :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style>
    #div1 {
        width: 350px;
        height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }
</style>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        let data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
<body class="container">
<nav th:replace="fragments/partials :: nav"></nav>
<div class="card">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="display-4">Hello, <span th:text="${#authentication.principal.username}"></span></div>
        </div>
    </div>
    <div class="container-fluid bg-light h-100">
        <button type="button" class="btn btn-dark" id="open">Upload Here</button>

        <input type="search" class="form-control w-100" id="search-selection" onkeyup="searchCats()" placeholder="Search..."/>

        <div class="row p-3" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">outfit maker</div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" data-toggle="tab" role="tab" id="nav-garments-tab" href="#nav-garments">Closet</a>
                <a class="nav-link" data-toggle="tab" role="tab" id="outfits-tab" href="#outfits">Outfits</a>
            </div>
        </nav>
            <div class="tab-content p-2">
                <div class="tab-pane fade show active" id="nav-garments" role="tabpanel" aria-labelledby="nav-garments-tab">
                  <div class="row">
                  <!--//do not remove garment-card class. essential for search-->
                    <div class="garment-card card mx-auto col-3 p-3 float-left" th:each="garment:${garments}">

                        <a th:href="@{/closet/{id}(id=${garment.id})}">
                            <img class="card-img-top" th:id="${garment.id}" th:src="${garment.image}" draggable="true" ondragstart="drag(event)"/>
                            <div class="mr-1 mb-1">
                                <form th:action="@{/user/garment/delete/{id}(id=${garment.id})}" method="POST" th:object="${garment}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </a>
                        <div class="card-body">
                            <!--//do not remove span. essential for search-->
                            <span th:each="cat:${garment.categories}" th:object="${cats}"><button type="button"
                                                                                                  class="badge badge-pill bg-accent catBtn ml-2"
                                                                                                  th:text="${cat.name}"></button></span>
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="outfits" role="tabpanel" aria-labelledby="outfits-tab">
                <div class="card mx-auto my-5 w-25" th:each="outfit:${outfits}">
                    <a th:href="@{/outfits/{id}(id=${outfit.id})}"><h3 class="card-header text-dark"
                                                                       th:text="${outfit.description}"></h3></a>
                    <p class="card-body" th:each="garment:${outfit.garments}"></p>
                    <div class="card-footer">
                        <p th:text="${outfit.date}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/partials :: footer"></footer>
</div>
    <script th:src="@{/js/search.js}"></script>


</body>
</html>