<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="container warning">
<nav th:replace="partials :: nav"></nav>
<div class="card">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="display-4">Hello, <span th:text="${#authentication.principal.username}"></span></div>
        </div>
    </div>
    <div class="container-fluid bg-light h-100">
        <button type="button" class="btn btn-dark" id="open">Upload Here</button>

        <input type="search" class="form-control w-100" placeholder="Search..."/>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" data-toggle="tab" role="tab" id="nav-garments-tab" href="#">Closet</a>
                <a class="nav-link" data-toggle="tab" role="tab" id="outfits-tab" href="#">Outfits</a>
            </div>
        </nav>
            <div class="tab-content p-2">
                <div class="tab-pane fade show active" id="nav-garments" role="tabpanel" aria-labelledby="nav-garments-tab">
                    <div class="card mx-auto col-3 p-3 float-left" th:each="garment:${garments}">
                        <a th:href="@{/closet/{id}(id=${garment.id})}">
                            <img class="card-img-top" th:src="@{${garment.image}}"/>
                            <div class="mr-1 mb-1">
                                <form th:action="@{/user/garment/delete/{id}(id=${garment.id})}" method="POST"
                                      th:object="${garment}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </a>
                        <div class="card-body">
                            <span th:each="cat:${garment.categories}" th:object="${cats}"><button type="button"
                                                                              class="btn btn-light badge badge-pill badge-primary catBtn ml-2"
                                                                              th:text="${cat.name}"></button></span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="outfits" role="tabpanel" aria-labelledby="outfits-tab">
                    <div class="card mx-auto my-5 w-25" th:each="outfit:${outfits}">
                        <a th:href="@{/outfits/{id}(id=${outfit.id})}"><h3 class="card-header text-dark"
                                                                           th:text="${outfit.description}"></h3></a>
                        <p class="card-body" th:each="garment:${outfit.garments}"></p>
                        <div class="card-footer">
                            <p th:text="${outfit.date}"></p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer th:replace="partials :: footer"></footer>
    <script>
        function searchGarments(){
            var selectedGarment = garmentSelection.value;
            // var FilteredGarments = [];

            $( "catBtn" ).each( ()=> {
                console.log($(this));
            });

        }

        var garmentSelection = document.querySelector('#garment-selection');
    </script>

</div>
</body>
</html>