body, .container, .container-fluid{
    background-color: #261b0c;
    !important;
}

div.jumbotron.jumbotron-fluid{
    background-color: #261b0c;
!important;
}

*{
    color: antiquewhite;
    !important;
}

/*//duotone instruciones*/
/*#duotone {*/
    /*background: url('https://jmperezperez.com/assets/images/posts/fecolormatrix-kanye-west.jpg');*/

    /*width: 200px;*/
    /*height: 200px;*/


/*}*/

/*#duotone::before {*/
    /*background-color: rgb(240, 14, 46);*/
    /*content: '';*/
    /*display: block;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*mix-blend-mode: darken;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/

/*#duotone::after {*/
    /*background-color: rgb(25, 37, 80);*/
    /*content: '';*/
    /*display: block;*/
    /*width: 200px;*/
    /*height: 200px;*/

    /*mix-blend-mode: lighten;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/