<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head">
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body class="container">
<nav th:replace="fragments/partials :: nav"></nav>


<div class="container-fluid bg-transparent h-100 pt-5 pb-3">
    <div class="pb-2 font-weight-bold">
        <h1>Developer Team</h1>
        <!--<h2>Setting things on fire</h2>-->
    </div>

    <div class="row justify-content-center">

        <div class="card-deck">
            <div id="card1" class="card bg-transparent border-0">
                <div class="front">
                    <img class="mx-sm-auto" src="/img/ChrisEsquerra.jpg"/>
                </div>
                <div class="back">
                    <img src="/img/TacoChris.jpg" style="height:230px; width:230px;"/>

                </div>
                <h3 class="pt-3">Christopher Esquerra</h3>
                <div class="card-footer mb-4 bg-transparent">
                    <a href="https://github.com/esquerrac"><img class="devcon" src="/icons/github-original.svg" alt="github"/></a>
                    <a href="https://linkedin.com/in/chris-esquerra/"><img class="devcon" src="/icons/linkedin-plain.svg" alt="linkedin"/></a>
                    <a href="https://esquerrac.github.io"><img class="devcon" src="/icons/pc-screen.svg" alt="website"/></a>
                </div>
            </div>


            <div id="card2" class="card bg-transparent border-0">
                <div class="front">
                    <img  src="/img/WilfredoPacheco.jpg"/>
                </div>
                <div class="back">
                    <img src="/img/Wil-back.jpg" style="height:230px; width:230px;"/>
                </div>
                <h3 class="pt-3">Wilfredo Pacheco</h3>
                <div class="card-footer d-inline  mb-4 bg-transparent">
                    <a href=""><img class="devcon" src="/icons/github-original.svg" alt="github"/></a>
                    <a href=""><img class="devcon" src="/icons/linkedin-plain.svg" alt="linkedin"/></a>

                    <a href="https://wilfredopacheco.github.io"><img class="devcon" src="/icons/pc-screen.svg" alt="website"/></a>
                </div>
            </div>


            <div id="card3" class="card bg-transparent border-0">
                <div class="front">
                    <img  src="/img/StephanieVelazquez.jpg"/>
                </div>
                <div class="back">
                    <img src="/img/CatSteph.png" style="height:230px; width:230px;"/>
                </div>

                    <h3 >Stephanie Velazquez</h3>

                <div class="card-footer mb-4 bg-transparent">
                    <a href="https://github.com/svelazquez"><img class="devcon" src="/icons/github-original.svg" alt="github"/></a>
                    <a href="https://linkedin.com/in/sa-velazquez"><img class="devcon" src="/icons/linkedin-plain.svg" alt="linkedin"/></a>
                    <a href="https://svelazquez.github.io"><img class="devcon" src="/icons/pc-screen.svg" alt="website"/></a>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="fragments/partials :: footer"></footer>

<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
<script>
    $("#card1").flip({
        trigger: 'hover'
        });
    $("#card3").flip({
        trigger: 'hover'
    });
    $("#card2").flip({
        trigger: 'hover'
    });
</script>
</body>
</html>