<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head">
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body class="container">
<nav th:replace="fragments/partials :: nav"></nav>

<div class="home jumbotron jumbotron-fluid">
    <div class="container-fluid home-title">
        <div></div>
        <h1 class="display-4">Closetry Corner</h1>
        <p class="lead"><em>None of this makes sense</em></p>
    </div>
</div>
<div class="container-fluid bg-light h-100">


    <div class="row">

        <div class="col-sm-6" id="col-1">
            <!--first card: take a photo-->
            <div class="card home-card1 border-0 bg-transparent">
                <img class="card-img" src="/img/taking-pic.jpg" />
                    <div class="card-img-overlay">
                        <div class="card-text"><div class="textBackground1 text-center">Snap a Photo</div></div>
                    </div>
            </div>

            <!--third card: create an outfit-->
            <div class="card home-card3 border-0 bg-transparent">
                <img class="card-img" src="/img/outfit.jpg"/>
                <div class="card-img-overlay">
                    <div class="card-text"><div class="textBackground1 text-center">Create an Outfit</div></div>

                </div>
            </div>


        </div>


        <div class="col-sm-6" id="col-2">
            <!--second card: select a category-->
            <div class="card home-card2 border-0 bg-transparent">
                <img class="card-img" src="/img/select-category.jpg" />
                <div class="card-img-overlay">
                    <div class="card-text"><div class="textBackground2 text-center">Select a Category</div></div>
                </div>
            </div>


            <div class="card home-card4 border-0 bg-transparent">
                <img class="card-img" src="/img/group-photo.jpg"/>
                <div class="card-img-overlay">
                    <div class="card-text"><div class="textBackground2 text-center">Share with Friends</div></div>
                </div>
            </div>

        </div>

    </div>
</div>
<a href="/register"><button type="button" class="btn btn-dark w-100 sticky-bottom">Register for Free</button></a>
<footer th:replace="fragments/partials :: footer"></footer>
</body>
</html>