<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
<script>


    window.addEventListener('DOMContentLoaded', function () {
        const apikey = '';
        const client = filestack.init(apikey);

        const options = {
                maxFiles: 1,
                uploadInBackground: false,
                onOpen: () => console.log('opened!'),
            onUploadDone: (res) => {
            console.log(res.filesUploaded[0].url)
            $("#pic1").attr("src", res.filesUploaded[0].url);

        },

    };
        $();

        $('#open').click(()=>client.picker(options).open());


    });
</script>
</body>
</html>